@model Actor

<div>
    <img src="/images/cast/@Model.ProfilePicture" alt="...">
    <p class="card-text">  @Model.FirstName @Model.LastName </p>
            <p class="card-text"> Bio: @Model.Bio</p>
           <a href="www.facbook.com"> Social Media Links</a>

</div>