


<div class="d-grid gap-2 col-6 mx-auto">
<h1>
    Movie was added succesfully
</h1>
    <a class="btn btn-warning" href="/Movies/Index"> Continue shopping</a>
    <a class="btn btn-success" href="/Cart/cartt"> Go to check out </a>
</div>

